body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#top {
    width: 800px;
    background-color: #dcc9f4;
    /* margin: 20px 0px; */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

p.top-child {
    margin: 0px 3px;
    width: 20%;
    background-color: #ffd9df;
}

#middle {
    width: 800px;
    height: 800px;
    margin: 20px 0;
    background-color: #ffd9df;
}

#middle>div {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
    position: relative;
    /* top: 100px; */
}

#middle-child01 {
    left: 100px;
    top: 100px;
}

#middle-child02 {
    left: 300px;
    top: 100px;
}

#middle-child03 {
    left: 500px;
    top: 100px;
}

#bottom {
    width: 800px;
    height: 300px;
    background-color: #87ceeb;
}
#bottom > div {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: relative;
}
#bottom-child02 {
    left: 200px;
}
#bottom-child03 {
    left: 400px;
}